.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Item-grid {
  display: grid;
  margin: 15px;
  grid-gap: 30px;
  grid-template-columns: 30rem 30rem;
  grid-template-rows: 40rem 40rem 40rem 40rem 40rem 40rem;
}
.RecipeItem{

  width: 30rem;
    background-color: lightgray;
    margin: 2rem;
    border-radius: 2rem;
}
.RecipeInfo{
  display: flex;
}
.RecipeImage{
  width: 30rem;
  border-radius: 2rem;
}
.RecipePrice{
  margin-right: 10px;
}
.MenuBar{
  width:30rem;
  height:60rem;
  text-align: left;
  margin: 3rem;
  font-size: x-large;
  background-color: #bee0e9;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
